[submodule "uvm-verilator"]
	path = uvm-verilator
	url = https://github.com/chipsalliance/uvm-verilator
[submodule "uvm-accellera"]
	path = uvm-accellera
	url = https://github.com/accellera/uvm
[submodule "uvm-core"]
	path = uvm-core
	url = https://github.com/Dragon-Git/uvm-core.git
